@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@400;500;700&display=swap");

/* -------- Variables ------- */

/***** Color variables ****/

:root {
  --color-primary: #f86061;
  --color-secondary: #2e2e2e;
  --color-white: #ffffff;
  --color-light-gray: #676767;
  --color-light-green: #03a66b;
  --color-light-yellow: #f9ba45;
  --color-bg-secondary: #fef5f5;
}

/***** Font variables *****/

:root {
  --font-family-inter: "Inter", sans-serif;
  --font-10px: 1rem;
  --font-12px: 1.2rem;
  --font-16px: 1.6rem;
  --font-18px: 1.8rem;
  --font-20px: 2rem;
  --font-22px: 2.2rem;
  --font-40px: 4rem;
  --font-bold: 700;
  --font-medium: 500;
  --font-regular: 400;
}

/***** Size variables *****/
:root {
  --body-max-width: 144rem;
}

/* ----- Reset CSS ----- */
*,
::before,
::after {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

html {
  /* color-scheme: light dark; */
  font-size: 62.5%; /* `10px */
  @media (max-width: 500px) {
    font-size: 50%;
  }

  @media (max-width: 450px) {
    font-size: 45%;
  }

  @media (max-width: 400px) {
    font-size: 40%;
  }
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0px;
  padding: 0px;
}

img,
picture {
  display: block;
  max-width: 100%;
}

button {
  color: inherit;
  font-weight: inherit;
  border: transparent;
  outline: transparent;
  width: 100%;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-decoration: none;
}

body {
  min-height: 100vh;
  font-family: Poppins, sans-serif;
}

header,
main,
footer {
  max-width: var(--body-max-width);
  margin-inline: auto;
}

/******88888  Components  88888*******/

/* {{{{ Button }}}} */
.btn {
  background-color: var(--color-primary);
  border: 1.5px solid var(--color-primary);
  border-radius: 1.2rem;
  color: rgb(255, 250, 250);
  font-size: var(--font-20px);
  font-weight: var(--font-medium);
  text-align: center;
  max-width: 18.6rem;
  height: 7rem;
  transition: background-color 0.5s ease 0s, color 0.5s ease 0s;
}

.btn:hover {
  background-color: var(--color-white);
  color: var(--color-primary);
}

.btn--primary {
  max-width: 20.1rem;
}

.btn--secondary {
  max-width: 20.1rem;
  background-color: var(--color-white);
  color: var(--color-primary);
}

.btn--secondary:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}

/* {{{{ Price card }}}} */
.price-card {
  background: var(--color-white);
  border-radius: 1.2rem;
  box-shadow: rgba(86, 0, 0, 0.08) 0px 60px 100px -10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 20.4rem;
  padding: 1.5rem;
}

.price-card__title {
  color: var(--color-secondary);
  font-size: var(--font-18px);
  font-family: var(--font-family-inter);
  font-weight: var(--font-bold);
}

.price-card__description {
  color: var(--color-light-gray);
  font-family: var(--font-family-inter);
  font-size: var(--font-12px);
  font-weight: var(--font-medium);
  margin-top: 0.8rem;
}

.price-card__image {
  margin: 3rem auto 0px;
}

/* {{{{ Price card }}}} */
.rating {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  margin-block: -1.5rem 0.8rem;
}

.rating__star-image {
  width: 1.8rem;
  aspect-ratio: 1 / 1;
}

.rating__text {
  font-size: var(--font-16px);
  font-weight: var(--font-bold);
}

/* {{{{ Price }}}} */
.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price__value {
  font-size: var(--font-22px);
  font-family: var(--font-family-inter);
  font-weight: var(--font-bold);
}

.price__button {
  background-color: var(--color-primary);
  border-radius: 1.2rem;
  aspect-ratio: 1 / 1;
  padding-top: 0.3rem;
  max-width: 3.6rem;
}

/* =============== header section =============== */

.header-section {
  padding: 2rem 4.375rem 4.75rem 8.4375rem;
}

/* ========= nav bar ========= */

.nav-parimary,
.header-section__hero {
  max-width: 116.8rem;
  display: flex;
  margin-inline: auto;
  align-items: center;
  justify-content: space-between;
}

.nav-parimary li {
  padding: 2.44rem;
  display: inline-block;
}

.nav-parimary__link {
  color: rgb(245, 82, 83);
  font-size: var(--font-16px);
  font-weight: var(--font-medium);
}

.nav-parimary__link::after {
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  top: 5px;
  background: transparent;
  transition: all 0.3s ease 0s;
}

.nav-parimary__link:hover::after,
.nav-parimary__link.active::after {
  width: 100%;
  background: var(--color-primary);
}

.search-bar {
  position: relative;
}

.search-bar__form {
  position: relative;
}

.search-bar__input {
  box-shadow: rgba(0, 0, 0, 0.16) 2px 2px 15px 0px;
  padding: 1.5rem 4rem;
  border: none;
  border-radius: 10px;
}

.search-bar__input:focus {
  outline: none;
}

.search-bar__input::placeholder {
  color: rgb(35, 35, 35);
}

.search-bar__button {
  outline: none;
  border: none;
  left: 8px;
  top: 1.5rem;
  width: 2rem;
  background: transparent;
  position: absolute;
}

.search-bar__icon {
  font-size: var(--font-12px);
  color: rgb(139, 139, 139);
}

.search-bar__form::after {
  content: "";
  position: absolute;
  width: 0.2rem;
  height: 3.5rem;
  top: 0.5rem;
  background: rgb(242, 242, 242);
  right: 5rem;
}

.shop {
  position: absolute;
  right: 1.2rem;
  top: 1.3rem;
}

.shop__icon {
  font-size: var(--font-16px);
  color: rgb(35, 35, 35);
}

.shop__item-value {
  position: absolute;
  background-color: var(--color-primary);
  color: var(--color-white);
  box-shadow: rgba(238, 67, 67, 0.68) -6px 9px 24px;
  width: 2rem;
  height: 2rem;
  border-radius: 20px;
  text-align: center;
  padding-top: 0.3rem;
  top: -2.5rem;
  right: -2rem;
}

/* ========= hero content section ========= */

.header-section__hero {
  flex-direction: row-reverse;
  @media (max-width: 1100px) {
    flex-direction: column;
    text-align: center;
  }
}

.hero__content {
  max-width: 36rem;
  margin-top: 20rem;
  @media (max-width: 1100px) {
    margin-top: 0;
  }
}

.btn--thirdly {
  position: relative;
  display: inline-flex;
  background: rgb(253, 236, 236);
  color: var(--color-primary);
  max-width: 20rem;
  height: 5rem;
  padding: 0px 0px 0px 25px;
  font-size: 1.5rem;
  align-items: center;
  border-radius: 3rem;
}

.btn--thirdly img {
  position: absolute;
  left: 70%;
  bottom: -39%;
  @media (max-width: 500px) {
    display: none;
  }
}

.hero__title {
  color: rgb(46, 46, 46);
  font-size: 4.625rem;
  font-weight: 700;
  line-height: 5.5rem;
  margin: 2.5rem 0;
}

.hero__title span {
  color: var(--color-primary);
  font-weight: 500;
}

.hero__description {
  color: rgb(103, 103, 103);
  font-size: 1.125rem;
  font-weight: 400;
  margin-bottom: 3rem;
}

.hero__button {
  display: flex;
  align-items: center;
}

.hero__button .btn--primary {
  max-width: 12rem;
  height: 5rem;
  margin: 0 2rem 0 0;
  font-size: var(--font-16px);
}

.btn-square {
  max-width: 5rem;
  height: 5rem;
  border: none;
  box-shadow: rgb(174 172 172 / 16%) 2px 2px 15px 0px;
  background: rgb(255, 255, 255);
  margin: 0 1rem 0 0;
}

.btn-square i {
  color: rgb(249, 186, 69);
}

.hero__button--text {
  font-size: var(--font-10px);
}

/*  ===== hero image section ===== */

.hero__image-box {
  position: relative;
}

.price-card--1 {
  position: absolute;
  flex-direction: column-reverse;
  top: 8rem;
  left: -14rem;
  @media (max-width: 500px) {
    display: none;
  }
}

.price-card--1::after {
  content: "";
  width: 3rem;
  height: 0.3rem;
  background: var(--color-primary);
  position: absolute;
  top: 16.3rem;
  left: 7rem;
}

.price-card--1 .price-card__image {
  margin: 0px 0px -30px;
}

.price-card--1 .price-card__title {
  font-size: 1.4rem;
  margin-bottom: 3rem;
}

.price-card__price {
  font-size: 2.5rem;
  margin-bottom: -14px;
}

.price-card--1 .price-card__description {
  margin-bottom: 30px;
}

.price-card__shopping {
  width: 3.8rem;
  height: 3.8rem;
  background: var(--color-primary);
  position: absolute;
  bottom: -2rem;
  left: 7rem;
  border-radius: 1rem;
}

.price-card__shopping i {
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
}

/* =============== features section =============== */

.feature {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: space-between;
  margin-inline: auto;
  max-width: 116.8rem;
  @media (max-width: 1100px) {
    flex-direction: column;
    text-align: center;
  }
}

/* =============== delivery shipping =============== */

.feature--delivery-shipping {
  max-width: 100%;
  min-height: 47rem;
  display: block;
  background: var(--color-bg-secondary);
}

.delivery__content {
  text-align: center;
  padding-top: 6.3rem;
}

.delivery__content .feature__subtitle {
  color: var(--color-primary);
  font-size: 1.125rem;
  font-weight: 500;
}

.delivery__content .feature__title {
  color: #2e2e2e;
  text-transform: capitalize;
  font-size: 2.5rem;
  font-weight: 700;
  max-width: 39rem;
  display: inline-block;
}

.delivery__card {
  display: flex;
  text-align: center;
  gap: 4rem;
  padding-top: 2rem;
  justify-content: center;
  @media (max-width: 500px) {
    flex-direction: column;
    text-align: center;
    padding: 0px 2rem;
  }
}

.card {
  background-color: var(--color-white);
  max-width: 18rem;
  height: 19rem;
}

.delivery__card--image {
  max-width: 6.25rem;
  height: 3.62738rem;
  display: inline-block;
  margin: 3rem 6rem;
}

.card-image--3 {
  max-width: 5.56919rem;
  height: 5.30431rem;
}

.card-title {
  color: #2e2e2e;
  font-size: 1.375rem;
  font-weight: 600;
}

.card-description {
  color: #676767;
  font-size: 0.875rem;
  font-weight: 400;
  max-width: 17rem;
  padding: 0.8rem 0 0 0;
  margin: 0 1.5rem;
}
/* =============== features section =============== */

.feature__image-box {
  position: relative;
}

.price-card--2 {
  position: absolute;
  bottom: 22%;
  right: -13%;
  padding: 3rem 2rem;
  @media (max-width: 500px) {
    display: none;
  }
}

.feature__content {
  max-width: 39.4rem;
}

.feature__title {
  color: var(--color-secondary);
  font-size: var(--font-40px);
  font-weight: var(--font-bold);
  margin-block: 0.8rem 2.2rem;
}

.feature__subtitle {
  color: var(--color-light-green);
  font-size: var(--font-18px);
  font-weight: var(--font-medium);
}

.feature__description {
  color: var(--color-light-gray);
  font-size: var(--font-18px);
  font-weight: var(--font-regular);
  margin-bottom: 5rem;
}

/* --- Feature home delivery --- */

.feature--home-delivery {
  flex-direction: row-reverse;
  padding-left: 9.3rem;
  margin-block: 5.2rem 10.18rem;
  @media (max-width: 1100px) {
    flex-direction: column;
    text-align: center;
    padding: 0px 2rem;
  }
}

.feature__image-box--1 {
  margin-right: 9.3rem;
  @media (max-width: 1100px) {
    margin: auto;
  }
}

.feature__content--1 {
  max-width: 51.9rem;
}

.feature__subtitle--1 {
  color: var(--color-light-yellow);
}

.price-card--3 {
  position: absolute;
  bottom: 23%;
  right: -23%;
  flex-direction: column-reverse;
  max-width: 16.6rem;
  padding: 0px 1.5rem 2rem;
  line-height: 1.51;
  @media (max-width: 500px) {
    display: none;
  }
}

/* ========== mobile app section ========== */

.feature--mobile-app {
  max-width: 100%;
  height: 47.1875rem;
  justify-content: center;
  gap: 11.5rem;
  background: var(--color-bg-secondary);
  margin-block: 5.2rem 10.2rem;
  @media (max-width: 1100px) {
    height: auto;
    gap: 1rem;
    align-items: center;
  }
}

/* ==== image section ==== */

.feature__image-box--2 .feature__image {
  max-width: 17.26688rem;
  height: 34.79rem;
}

/* ==== content section ==== */

.feature__content--2 {
  max-width: 44.4rem;
}

.feature__content--2 .feature__description {
  width: 47rem;
}

.feature__content--2 .hero__button {
  @media (max-width: 1100px) {
    display: inline;
  }
}

.feature__content--2 .hero__button .btn--primary {
  background-color: transparent;
  color: var(--color-secondary);
  border: 1px solid #e6d7d7;
  max-width: 14rem;
}

.feature__content--2 .hero__button .btn--primary i {
  margin-right: 5px;
}

.feature__content--2 .hero__button .btn--primary .fa-android {
  font-size: var(--font-22px);
}

.feature__content--2 .hero__button .btn--primary .fa-apple {
  background: var(--color-secondary);
  color: var(--color-white);
  padding: 6px;
  border-radius: 5px;
}

/*     */
.feature--footer-section {
  color: var(--color-light-gray);
  display: block;
  height: 25rem;
}

.main-div {
  display: flex;
  gap: 5rem;
  justify-content: space-between;
  padding-bottom: 5rem;
  position: relative;
}

.main-div::after {
  content: "";
  position: absolute;
  width: 72.125rem;
  height: 0.0625rem;
  bottom: 0;
  right: 19%;
  background: #ececec;
}

.footer-logo {
  max-width: 9.68144rem;
  height: 2.59863rem;
}

.footer__description--1 {
  padding-top: 1.8rem;
  max-width: 16.625rem;
}

.footer__description--2 {
  width: 11.9375rem;
}

.footer-title {
  color: #2e2e2e;
  font-size: 1.125rem;
  font-weight: 600;
  padding-bottom: 1.8rem;
}

.same ul li {
  font-size: 1rem;
  font-weight: 400;
  padding-bottom: 1.2rem;
}

.footer-last {
  display: flex;
  padding-top: 2rem;
}

.last-child {
  position: absolute;
}

.item-2 {
  margin-left: 108rem;
}

.item-1 {
  margin-left: 95rem;
}
